// NESTING
header{
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    ul{
        list-style-type: none;
        li{
            padding: 10px;
            a{
                text-decoration: none;
                color: orange;
                transition: 1s all;
                font:{
                    size: 20px;
                    family:tahoma;
                    weight:normal;
                }
                &:hover{
                    background-color: aqua;
                    border-radius: 20px;
                    color: black;
                }
            }
        }
    }
}